extends ../../../templates/base

block body
    .row
        .col-md-4
        .col-md-4.py-5
            .card
                .card-header
                    h3.text-center.page-title Admin Login
                .card-body
                    form(action='/login', method='post')
                        .form-group
                            label Username
                            input.form-control(type='text', placeholder='Enter Username', name='username')
                        .form-group
                            label Password
                            input.form-control(type='password', placeholder='Enter Password', name='password')
                        button.btn.btn-primary.btn-block Login
        .col-md-4