//- This now serves as the base template, even for the master

html
	head
		// This is the title of the page. Pretty basic.
		title Express Boilerplate

		// Here we import the asset files such as Bulma and FontAwesome.
		// You can use this out of the box. This btw, is an HTML comment
		// in Pug. This will appear in your browser when you render the
		// HTML.
		link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='/assets/css/atlantis.min.css')
		script(src='assets/js/plugin/webfont/webfont.min.js')
		script.
			WebFont.load({
				google: {"families":["Lato:300,400,700,900"]},
				custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css']},
				active: function() {
					sessionStorage.fonts = true;
				}
			});

	body
		block body
	
	footer
		// Core JS Files
		script(src='/assets/js/core/jquery.3.2.1.min.js')
		script(src='/assets/js/core/popper.min.js')
		script(src='/assets/js/core/bootstrap.min.js')
		// jQuery UI
		script(src='/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
		script(src='/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')
		// jQuery Scrollbar
		script(src='/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')
		// Chart JS
		script(src='/assets/js/plugin/chart.js/chart.min.js')
		// jQuery Sparkline
		script(src='/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js')
		// Chart Circle
		script(src='/assets/js/plugin/chart-circle/circles.min.js')
		// Datatables
		script(src='/assets/js/plugin/datatables/datatables.min.js')
		// Bootstrap Notify
		script(src='/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')
		// jQuery Vector Maps
		script(src='/assets/js/plugin/jqvmap/jquery.vmap.min.js')
		script(src='/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js')
		// Sweet Alert
		script(src='/assets/js/plugin/sweetalert/sweetalert.min.js')
		// Atlantis JS
		script(src='/assets/js/atlantis.min.js')

		block additionalFooterScripts